/*
    Kat Truitt
    IT328 Dating Assignment
    10APR2019
    styles.css -> additional CSS for layout in addition to BootStrap
*/

/* image layout, adjust size to fit to div element*/
.clearfix
{
    overflow: auto;
}

/* CSS set max-width to 100% and height on auto*/
img
{
    max-width:100%;
    height: auto;
}

/* Set scroll to smooth*/
html
{
    scroll-behavior: smooth;
}

/* button display and text-alignment */
#buttonContainer
{
    display:table;
    text-align:center;
    padding:0;
}

/* CSS layout to keep button centered in the div*/
#profile
{
    margin-bottom:45px;
    padding-top:5px;
    vertical-align: top;
    display:inline-block;
}

#topNav,#navBottom
{
    padding: 0;
    margin:0;
}

#picture
{
    padding-top:40px;
}
#word
{
    padding-top:20px;
}
h4
{
    margin-left:20px;
    margin-right:20px;
}

/*CSS style and layout set to small uppercase and italicized font */
blockquote
{
    margin-left:20px;
    margin-right:20px;
    line-height: 1;
    font-style: italic;
    font-size:small;
    font-variant: small-caps;
}

/*blockquote style is addressed without fatally destroying my page */
cite
{
    font-style: italic;
    font-variant: small-caps;
    font-size:small;
}

/*Main layout adjusted div*/
.container
{
    margin-top: 60px ;
    padding: 30px;
    border: 2px solid gainsboro;
    border-radius: 8px;
    word-wrap: break-word;
}

/*Sets font Times New Roman*/
#intro
{
    font-family: "Times New Roman", Times, serif;
}
